Repository ubeac/svelte, pull requests merged in 2022-09, with the labels that each got.

#318 #317 FormRadio - fix component functionality
  .storybook/stories/FormRadio.stories.svelte
  src/components/form/FormRadio.svelte
  src/scss/components/form/form-radio.scss
Labels: enhancement, test & debug

#323 #240 Switch - review and fix functionality
  .storybook/stories/Switch.stories.svelte
  .storybook/stories/_examples.css
  src/components/switch/Switch.svelte
  src/scss/components/input/switch.scss
Labels: documentation, test & debug

#357 #335 - Implement CardStamp positions
  src/scss/components/card.scss
Labels: CardStamp

#356 #334 - remove CardSubtitle component
  .storybook/stories/Card.stories.svelte
  skeleton.md
  src/components/card/CardSubtitle.svelte
  src/components/card/index.ts
  src/scss/components/card.scss
Labels: Card

#362 #341 - remove unused code from Card stories
  .storybook/stories/Card.stories.svelte
Labels: Card

#363 #342 - remove componets/input/Select.svelte
  src/components/input/Select.svelte
Labels: Select

#365 #347 - fix spacing of (badge, icon and avatar) inside button
  src/components/button/Button.svelte
  src/routes/index.svelte
  src/scss/components/button.scss
Labels: Button

#371 #366 - support only icon inside button without text
  src/routes/index.svelte
  src/scss/components/button.scss
Labels: Button

#375 #372 - use gap property to handle spacing of items inside button
  src/components/button/Button.svelte
  src/routes/index.svelte
  src/scss/components/button.scss
Labels: Button

#374 #369 - add layout for routes folder
  src/routes/__layout.svelte
  src/routes/_layout-components/Dropdown.svelte
  src/routes/_layout-components/DropdownItem.svelte
  src/routes/_layout-components/DropdownMenu.svelte
  src/routes/_layout-components/DropdownToggle.svelte
  src/routes/_layout-components/Example.svelte
  src/routes/_layout-components/Nav.svelte
  src/routes/_layout-components/NavItem.svelte
  src/routes/_layout-components/NavLink.svelte
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/avatars.svelte
  src/routes/components/badges.svelte
  src/routes/components/buttons.svelte
  src/routes/components/cards.svelte
  src/routes/components/icons.svelte
  src/routes/components/index.svelte
Labels: documentation

#383 #377 - add if processor
  package-lock.json
  package.json
  src/index.d.ts
  src/preprocessors/if.js
  src/routes/_layout-components/Sidebar.svelte
  src/routes/common/if.svelte
  src/routes/index.svelte
  src/types/if-processor.ts
  src/types/index.ts
  svelte.config.js
Labels: enhancement, core

#389 #388 - add Preview Component and previewProcessor
  src/components/index.ts
  src/components/preview/Preview.svelte
  src/components/preview/index.ts
  src/preprocessors/preview.js
  src/routes/_layout-components/Sidebar.svelte
  src/routes/common/_example1.svelte
  src/routes/common/preview.svelte
  svelte.config.js
Labels: Preview

#391 #390 - Update Sveltekit and add action to publish site
  .github/workflows/npm-publish-next.yml
  package-lock.json
  package.json
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/common/if/+page.svelte
  src/routes/components/+page.svelte
  src/routes/components/avatars/+page.svelte
  src/routes/components/badges/+page.svelte
  src/routes/components/buttons/+page.svelte
  src/routes/components/cards/+page.svelte
  src/routes/components/icons/+page.svelte
  src/routes/components/index.svelte
  svelte.config.js
  vite.config.js
Labels: documentation

#393 #392 - update preview component
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/preview/Preview.svelte
  src/components/preview/PreviewCopyButton.svelte
  src/preprocessors/preview.js
  src/routes/components/buttons/+page.svelte
  src/routes/components/buttons/ButtonColors.svelte
  svelte.config.js
Labels: documentation, Preview

#402 #394 - add samples for Input component
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/inputs/+page.svelte
  src/routes/components/inputs/InputDefault.svelte
  src/routes/components/inputs/InputDisabled.svelte
  src/routes/components/inputs/InputPlaceholder.svelte
  src/routes/components/inputs/InputReadOnly.svelte
  src/routes/components/inputs/InputSizes.svelte
  src/routes/components/inputs/InputTypes.svelte
  src/routes/components/inputs/InputValue.svelte
Labels: documentation, Input

#360 Feat/314 gridsystem
  src/components/form/FormGroup.svelte
  src/components/gird/Col.svelte
  src/components/gird/Container.svelte
  src/components/gird/Row.svelte
  src/components/gird/grid.types.ts
  src/components/gird/index.ts
  src/components/grid/Grid.svelte
  src/components/grid/Grid.types.ts
  src/components/grid/GridItem.svelte
  src/components/grid/GridItem.types.ts
  src/components/grid/index.ts
  src/components/index.ts
  src/routes/components/grid/+page.svelte
  src/scss/components/col.scss
  src/scss/components/container.scss
  src/scss/components/index.scss
  src/scss/components/row.scss
  src/scss/components/spacer.scss
Labels: Grid, GridItem

#379 #235 select review and fix functionality and style
  .vscode/settings.json
  src/components/select/Select.svelte
  src/routes/+page.svelte
  src/scss/components/input/select.scss
Labels: test & debug

#409 #397 - Add samples for Autocomplete component
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/autocomplete/+page.svelte
  src/routes/components/autocomplete/AutocompleteDefault.svelte
  src/routes/components/autocomplete/AutocompleteDisabledLoading.svelte
  src/routes/components/autocomplete/AutocompleteEvent.svelte
  src/routes/components/autocomplete/AutocompleteMultiple.svelte
  src/routes/components/autocomplete/AutocompleteObject.svelte
  src/routes/components/autocomplete/AutocompleteObjectItems.svelte
  src/routes/components/autocomplete/AutocompletePreview.svelte
Labels: documentation, Autocomplete

#407 #396 - add Samples for DatePicker component
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/datepickers/+page.svelte
  src/routes/components/datepickers/DatepickerDefault.svelte
  src/routes/components/datepickers/DatepickerFormat.svelte
  src/routes/components/datepickers/DatepickerValue.svelte
Labels: documentation, DatePicker

#419 #418 - update preview and supprot typescript in scripts
  src/components/preview/Preview.svelte
  src/components/preview/PreviewCopyButton.svelte
  src/components/tabs/Tabs.svelte
  src/components/tabs/TabsItem.svelte
  src/components/tabs/TabsItems.svelte
  src/components/tabs/TabsPanel.svelte
  src/components/tabs/TabsPanels.svelte
  src/components/tabs/index.ts
  src/preprocessors/preview.js
  src/routes/+page.svelte
  src/routes/components/buttons/+page.svelte
  src/routes/components/buttons/ButtonColors.svelte
  src/scss/components/index.scss
  src/scss/components/preview.scss
  src/scss/components/tabs.scss
Labels: Preview

#417 #411 - add Docs for Textarea and add some props for it
  src/components/textarea/Textarea.svelte
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/textarea/+page.svelte
  src/routes/components/textarea/TextareaDefault.svelte
  src/routes/components/textarea/TextareaDisabledReadonly.svelte
  src/routes/components/textarea/TextareaPlaceholder.svelte
  src/routes/components/textarea/TextareaReadonly.svelte
  src/routes/components/textarea/TextareaResizable.svelte
  src/routes/components/textarea/TextareaRowCol.svelte
  src/routes/components/textarea/TextareaValue.svelte
  src/scss/components/input/textarea.scss
Labels: documentation, Textarea

#404 #403 - update examples of if prop
  src/routes/common/if/+page.svelte
  src/routes/common/if/IfComponents.svelte
  src/routes/common/if/IfMultiline.svelte
  src/routes/common/if/IfNative.svelte
Labels: documentation

#416 Feat/413 fix and documantaion gridsystem
  src/routes/+layout.svelte
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/grid/+page.svelte
  src/routes/components/grid/GridAlign.svelte
  src/routes/components/grid/GridAlignSelf.svelte
  src/routes/components/grid/GridBreakpoint.svelte
  src/routes/components/grid/GridColumnWidth.svelte
  src/routes/components/grid/GridContainer.svelte
  src/routes/components/grid/GridDefault.svelte
  src/routes/components/grid/GridGrow.svelte
  src/routes/components/grid/GridGutter.svelte
  src/routes/components/grid/GridJustify.svelte
  src/routes/components/grid/GridNested.svelte
  src/routes/components/grid/GridOffset.svelte
  src/routes/components/grid/GridOrder.svelte
  src/routes/components/grid/GridRow.svelte
  src/routes/components/grid/GridWrapping.svelte
  src/scss/components/container.scss
Labels: documentation, Grid

#422 finish card documentation
  src/routes/components/cards/+page.svelte
  src/routes/components/cards/CardAction.svelte
  src/routes/components/cards/CardAside.svelte
  src/routes/components/cards/CardBlog.svelte
  src/routes/components/cards/CardBody.svelte
  src/routes/components/cards/CardColor.svelte
  src/routes/components/cards/CardImage.svelte
  src/routes/components/cards/CardMedia.svelte
  src/routes/components/cards/CardRow.svelte
  src/routes/components/cards/CardStamp.svelte
  src/routes/components/cards/CardStampSize.svelte
  src/routes/components/cards/CardTitle.svelte
Labels: documentation, Card

#430 #428 page component
  src/components/gird/Col.svelte
  src/components/page/Page.svelte
  src/components/page/PageFooter.svelte
  src/components/page/PageHeader.svelte
  src/components/page/index.ts
  src/routes/_layout-components/Sidebar.svelte
  src/routes/components/page/+page.svelte
  src/routes/components/page/PageHeaderAction.svelte
  src/routes/components/page/PageHeaderSimple.svelte
  src/scss/components/col.scss
  src/scss/components/index.scss
  src/scss/components/page.scss
Labels: Page

#432 #431 initial enhancement in color, padding, etc. in documentation site
  src/components/preview/Preview.svelte
  src/routes/+layout.svelte
  src/routes/components/cards/+page.svelte
Labels: documentation

#441 Feat/427 form field
  src/components/form/FormField.svelte
  src/components/form/index.ts
Labels: formField

#449 fix alert
  src/components/alert-old/Alert.svelte
  src/components/alert-old/AlertActions.svelte
  src/components/alert-old/AlertTitle.svelte
  src/components/alert-old/alert.types.ts
  src/components/alert-old/index.ts
  src/components/alert/Alert.svelte
  src/components/alert/index.ts
  src/routes/docs/components/alert/+page.svelte
  src/routes/docs/components/alert/AlertAvatar.svelte
  src/routes/docs/components/alert/AlertButton.svelte
  src/routes/docs/components/alert/AlertColor.svelte
  src/routes/docs/components/alert/AlertDismissible.svelte
  src/routes/docs/components/alert/AlertIcon.svelte
  src/routes/docs/components/alert/AlertImportant.svelte
  src/routes/docs/components/alert/AlertLink.svelte
  src/routes/docs/components/alert/AlertShow.svelte
  src/routes/docs/index.ts
  src/scss/components/alert.scss
  src/scss/components/button.scss
Labels: Alert

#445 #398 - #400 - #401 - add docs for FormInput, FormDatePicker & FormTextarea
  src/components/form/FormAutocomplete.svelte
  src/components/form/FormDatePicker.svelte
  src/components/form/FormField.svelte
  src/components/form/FormHint.svelte
  src/components/form/FormInput.svelte
  src/components/form/FormTextarea.svelte
  src/components/form/index.ts
  src/components/input/Input.svelte
  src/routes/+page.svelte
  src/routes/docs/components/form-autocomplete/+page.svelte
  src/routes/docs/components/form-autocomplete/FormAutocompleteColumn.svelte
  src/routes/docs/components/form-autocomplete/FormAutocompleteDisabledLoading.svelte
  src/routes/docs/components/form-autocomplete/FormAutocompleteLabel.svelte
  src/routes/docs/components/form-autocomplete/FormAutocompleteMessage.svelte
  src/routes/docs/components/form-autocomplete/FormAutocompleteRequired.svelte
  src/routes/docs/components/form-datepicker/+page.svelte
  src/routes/docs/components/form-datepicker/FormDatePickerColumn.svelte
  src/routes/docs/components/form-datepicker/FormDatePickerDisabledLoading.svelte
  src/routes/docs/components/form-datepicker/FormDatePickerIcon.svelte
  src/routes/docs/components/form-datepicker/FormDatePickerLabel.svelte
  src/routes/docs/components/form-datepicker/FormDatePickerMessage.svelte
  src/routes/docs/components/form-datepicker/FormDatePickerRequired.svelte
  src/routes/docs/components/form-input/+page.svelte
  src/routes/docs/components/form-input/FormInputColumn.svelte
  src/routes/docs/components/form-input/FormInputDisabledLoading.svelte
  src/routes/docs/components/form-input/FormInputIcon.svelte
  src/routes/docs/components/form-input/FormInputLabel.svelte
  src/routes/docs/components/form-input/FormInputMessage.svelte
  src/routes/docs/components/form-input/FormInputRequired.svelte
  src/routes/docs/components/form-textarea/+page.svelte
  src/routes/docs/components/form-textarea/FormTextareaColumn.svelte
  src/routes/docs/components/form-textarea/FormTextareaDisabledLoading.svelte
  src/routes/docs/components/form-textarea/FormTextareaLabel.svelte
  src/routes/docs/components/form-textarea/FormTextareaMessage.svelte
  src/routes/docs/components/form-textarea/FormTextareaRequired.svelte
  src/routes/docs/index.ts
  src/scss/components/form/form-field.scss
  src/scss/components/form/form-hint.scss
  src/scss/components/form/index.scss
Labels: documentation, FormInput

#463 Create LICENSE
  LICENSE
Labels: documentation

#452 #448 - add documentation page for Button
  src/routes/docs/components/buttons/+page.svelte
  src/routes/docs/components/buttons/ButtonDisabled.svelte
  src/routes/docs/components/buttons/ButtonGhost.svelte
  src/routes/docs/components/buttons/ButtonGroup.svelte
  src/routes/docs/components/buttons/ButtonGroupLotsOfItems.svelte
  src/routes/docs/components/buttons/ButtonIcon.svelte
  src/routes/docs/components/buttons/ButtonLarge.svelte
  src/routes/docs/components/buttons/ButtonLoading.svelte
  src/routes/docs/components/buttons/ButtonOutline.svelte
  src/routes/docs/components/buttons/ButtonRound.svelte
  src/routes/docs/components/buttons/ButtonSmall.svelte
  src/routes/docs/components/buttons/ButtonTag.svelte
  src/routes/docs/components/buttons/ButtonTile.svelte
  src/routes/docs/components/buttons/ButtonWithAvatar.svelte
Labels: documentation, Button

#440 #437 Implement Checkbox Document
  src/routes/docs/components/checkbox/+page.svelte
  src/routes/docs/components/checkbox/CheckboxColor.svelte
  src/routes/docs/components/checkbox/CheckboxDefault.svelte
  src/routes/docs/components/checkbox/CheckboxGroupDefault.svelte
  src/routes/docs/components/checkbox/CheckboxGroupInline.svelte
  src/routes/docs/components/checkbox/CheckboxGroupItems.svelte
  src/routes/docs/components/checkbox/FormCheckboxDefault.svelte
  src/routes/docs/components/checkbox/FormCheckboxDescription.svelte
  src/routes/docs/components/checkbox/FormCheckboxGroupDefault.svelte
  src/routes/docs/index.ts
Labels: documentation, Checkbox

#414 #410 Select Implement Document
  src/components/form/FormSelect.svelte
  src/components/select/Select.svelte
  src/routes/docs/components/select/+page.svelte
  src/routes/docs/components/select/FormSelectDefault.svelte
  src/routes/docs/components/select/FormSelectIcon.svelte
  src/routes/docs/components/select/FormSelectLoading.svelte
  src/routes/docs/components/select/SelectDefault.svelte
  src/routes/docs/components/select/SelectItems.svelte
  src/routes/docs/components/select/SelectMultiple.svelte
  src/routes/docs/components/select/SelectPlaceholder.svelte
  src/routes/docs/index.ts
Labels: documentation

#453 add u-preview class for component and set global styles for /docs
  src/components/preview/Preview.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/components/+page.svelte
  src/routes/docs/components/alert/+page.svelte
  src/routes/docs/components/autocomplete/+page.svelte
  src/routes/docs/components/cards/+page.svelte
  src/routes/docs/components/datepickers/+page.svelte
  src/routes/docs/components/form-autocomplete/+page.svelte
  src/routes/docs/components/form-datepicker/+page.svelte
  src/routes/docs/components/form-input/+page.svelte
  src/routes/docs/components/form-textarea/+page.svelte
  src/routes/docs/components/grids/+page.svelte
  src/routes/docs/components/inputs/+page.svelte
  src/routes/docs/components/page/+page.svelte
  src/routes/docs/components/textarea/+page.svelte
  src/scss/components/preview.scss
Labels: documentation, Preview

#470 Feat/469 docs label
  src/routes/docs/components/label/+page.svelte
  src/routes/docs/components/label/LabelDefault.svelte
  src/routes/docs/components/label/LabelFor.svelte
  src/routes/docs/components/label/LabelRequired.svelte
  src/routes/docs/index.ts
Labels: documentation, Label

#468 #347 - Update checkbox and it's Documentation
  src/components/checkbox/Checkbox.svelte
  src/components/checkbox/CheckboxGroup.svelte
  src/components/form/FormCheckbox.svelte
  src/components/form/FormCheckboxGroup.svelte
  src/routes/+page.svelte
  src/routes/docs/components/checkbox-group/+page.svelte
  src/routes/docs/components/checkbox-group/CheckboxGroupDefault.svelte
  src/routes/docs/components/checkbox-group/CheckboxGroupInline.svelte
  src/routes/docs/components/checkbox-group/CheckboxGroupItems.svelte
  src/routes/docs/components/checkbox/+page.svelte
  src/routes/docs/components/checkbox/CheckboxDefault.svelte
  src/routes/docs/components/checkbox/FormCheckboxDefault.svelte
  src/routes/docs/components/checkbox/FormCheckboxGroupDefault.svelte
  src/routes/docs/components/form-checkbox-group/+page.svelte
  src/routes/docs/components/form-checkbox-group/FormCheckboxGroupDefault.svelte
  src/routes/docs/components/form-checkbox/+page.svelte
  src/routes/docs/components/form-checkbox/FormCheckboxDefault.svelte
  src/routes/docs/components/form-checkbox/FormCheckboxDescription.svelte
  src/routes/docs/index.ts
  src/scss/components/form/form-checkbox-group.scss
  src/scss/components/form/form-checkbox.scss
  src/scss/components/form/index.scss
  src/scss/components/input/checkbox-group.scss
  src/scss/components/input/checkbox.scss
Labels: documentation, Checkbox, FormCheckbox, FormCheckboxGroup, CheckboxGroup

#467 #466 - Update and add Documentation for Radio related components
  src/components/form/FormField.svelte
  src/components/form/FormRadio.svelte
  src/components/form/FormRadioGroup.svelte
  src/components/form/index.ts
  src/components/radio/Radio.svelte
  src/components/radio/RadioGroup.svelte
  src/routes/+page.svelte
  src/routes/docs/components/form-radio-group/+page.svelte
  src/routes/docs/components/form-radio-group/FormRadioGroupColor.svelte
  src/routes/docs/components/form-radio-group/FormRadioGroupColumns.svelte
  src/routes/docs/components/form-radio-group/FormRadioGroupInlineLabel.svelte
  src/routes/docs/components/form-radio-group/FormRadioGroupLabel.svelte
  src/routes/docs/components/form-radio/+page.svelte
  src/routes/docs/components/form-radio/FormRadioColors.svelte
  src/routes/docs/components/form-radio/FormRadioDescription.svelte
  src/routes/docs/components/form-radio/FormRadioLabel.svelte
  src/routes/docs/components/radio-group/+page.svelte
  src/routes/docs/components/radio-group/RadioGroupColor.svelte
  src/routes/docs/components/radio-group/RadioGroupComplexObject.svelte
  src/routes/docs/components/radio-group/RadioGroupDefault.svelte
  src/routes/docs/components/radio-group/RadioGroupInline.svelte
  src/routes/docs/components/radio-group/RadioGroupItemsObject.svelte
  src/routes/docs/components/radio-group/RadioGroupName.svelte
  src/routes/docs/components/radio/+page.svelte
  src/routes/docs/components/radio/RadioColors.svelte
  src/routes/docs/components/radio/RadioDefault.svelte
  src/routes/docs/components/radio/RadioName.svelte
  src/routes/docs/index.ts
  src/scss/components/form/form-radio-group.scss
  src/scss/components/form/form-radio.scss
  src/scss/components/form/index.scss
  src/scss/components/input/radio-group.scss
  src/scss/components/input/radio.scss
Labels: documentation, Radio, RadioGroup, FormRadioGroup, FormRadio

#472 #471 - Add docs for Switch and FormSwitch components
  src/components/form/FormSwitch.svelte
  src/components/switch/Switch.svelte
  src/routes/docs/components/form-switch/+page.svelte
  src/routes/docs/components/form-switch/FormSwitchDefault.svelte
  src/routes/docs/components/form-switch/FormSwitchDescriptionColor.svelte
  src/routes/docs/components/switch/+page.svelte
  src/routes/docs/components/switch/SwitchColor.svelte
  src/routes/docs/components/switch/SwitchDefault.svelte
  src/routes/docs/index.ts
  src/scss/components/form/form-switch.scss
Labels: documentation, Switch, FormSwitch

#491 Update Badge Document
  src/routes/docs/components/badges/+page.svelte
Labels: documentation

#489 Implement Avatar Document
  src/routes/docs/components/avatars/+page.svelte
  src/routes/docs/components/avatars/AvatarDefault.svelte
  src/routes/docs/components/avatars/AvatarImage.svelte
  src/routes/docs/components/avatars/AvatarShapes.svelte
  src/routes/docs/components/avatars/AvatarSize.svelte
Labels: documentation

#485 #484 - Update checkbox components
  src/components/checkbox/Checkbox.svelte
  src/components/checkbox/CheckboxGroup.svelte
  src/components/form/FormCheckbox.svelte
  src/routes/docs/components/checkbox/+page.svelte
  src/routes/docs/components/checkbox/CheckboxColor.svelte
  src/routes/docs/components/checkbox/CheckboxDefault.svelte
  src/routes/docs/components/checkbox/CheckboxDescription.svelte
  src/routes/docs/form/form-checkbox/+page.svelte
  src/routes/docs/form/form-checkbox/FormCheckboxColumn.svelte
  src/routes/docs/form/form-checkbox/FormCheckboxDefault.svelte
  src/routes/docs/form/form-checkbox/FormCheckboxDescription.svelte
  src/scss/components/form/form-checkbox.scss
  src/scss/components/input/checkbox.scss
Labels: documentation, Checkbox, FormCheckbox, FormCheckboxGroup, CheckboxGroup

#478 #437 - Update docs of Select and FormSelect
  src/components/form/FormSelect.svelte
  src/routes/+page.svelte
  src/routes/docs/components/select/+page.svelte
  src/routes/docs/components/select/SelectDefault.svelte
  src/routes/docs/components/select/SelectItems.svelte
  src/routes/docs/components/select/SelectMultiple.svelte
  src/routes/docs/components/select/SelectPlaceholder.svelte
  src/routes/docs/form/form-select/+page.svelte
  src/routes/docs/form/form-select/FormSelectColumn.svelte
  src/routes/docs/form/form-select/FormSelectMessage.svelte
Labels: documentation, Select, FormSelect

#487 #486 - update and fix radio and FormRadio components
  src/components/form/FormRadio.svelte
  src/components/radio/Radio.svelte
  src/components/radio/RadioGroup.svelte
  src/routes/docs/components/radio/RadioColors.svelte
  src/routes/docs/components/radio/RadioDefault.svelte
  src/routes/docs/components/radio/RadioName.svelte
  src/routes/docs/form/form-radio/+page.svelte
  src/routes/docs/form/form-radio/FormRadioColumns.svelte
  src/routes/docs/form/form-radio/FormRadioDescription.svelte
  src/routes/docs/form/form-radio/FormRadioLabel.svelte
  src/scss/components/form/form-radio.scss
  src/scss/components/input/radio.scss
Labels: documentation, Radio, RadioGroup, FormRadioGroup, FormRadio

#501 Update Select Document
  src/routes/docs/components/select/+page.svelte
Labels: documentation

#500 Implement Icons Document
  src/routes/docs/icons/+page.svelte
  src/routes/docs/icons/IconColor.svelte
  src/routes/docs/icons/IconDefault.svelte
  src/routes/docs/icons/IconSize.svelte
  src/routes/docs/index.ts
Labels: documentation

#503 #502 - add Docs for Table component
  src/routes/docs/components/tables/+page.svelte
  src/routes/docs/components/tables/TableBorder.svelte
  src/routes/docs/components/tables/TableDefault.svelte
  src/routes/docs/components/tables/TableHover.svelte
  src/routes/docs/components/tables/TableStriped.svelte
  src/routes/docs/index.ts
Labels: documentation, Table

#506 #493 - Update and add docs for Dialog component
  .vscode/settings.json
  src/components/dialog/Dialog.svelte
  src/components/dialog/DialogClose.svelte
  src/components/dialog/DialogContent.svelte
  src/components/dialog/index.ts
  src/routes/docs/components/dialog/+page.svelte
  src/routes/docs/components/dialog/DialogAbsolute.svelte
  src/routes/docs/components/dialog/DialogCenter.svelte
  src/routes/docs/components/dialog/DialogDefault.svelte
  src/routes/docs/components/dialog/DialogLarge.svelte
  src/routes/docs/components/dialog/DialogNoBackdrop.svelte
  src/routes/docs/components/dialog/DialogPersistent.svelte
  src/routes/docs/components/dialog/DialogScrollable.svelte
  src/routes/docs/components/dialog/DialogSmall.svelte
  src/routes/docs/index.ts
  src/scss/components/dialog.scss
Labels: Dialog

#511 #241 - add FileUploader + write docs
  src/components/file-uploader/FileUploader.svelte
  src/components/file-uploader/index.ts
  src/components/form/FormFileUploader.svelte
  src/components/form/index.ts
  src/components/index.ts
  src/routes/docs/components/file-uploader/+page.svelte
  src/routes/docs/components/file-uploader/FileUploaderAccept.svelte
  src/routes/docs/components/file-uploader/FileUploaderDefault.svelte
  src/routes/docs/components/file-uploader/FileUploaderDisabled.svelte
  src/routes/docs/components/file-uploader/FileUploaderMultiple.svelte
  src/routes/docs/components/file-uploader/FileUploaderSizes.svelte
  src/routes/docs/components/file-uploader/FileUploaderValue.svelte
  src/routes/docs/index.ts
  src/scss/components/input/file-uploader.scss
  src/scss/components/input/index.scss
Labels: documentation, FileUploader

#505 #504 - Update Switch, FormSwitch and their documents
  src/components/form/FormSwitch.svelte
  src/components/switch/Switch.svelte
  src/routes/docs/components/switch/+page.svelte
  src/routes/docs/components/switch/SwitchColor.svelte
  src/routes/docs/components/switch/SwitchDefault.svelte
  src/routes/docs/components/switch/SwitchDescription.svelte
  src/routes/docs/form/form-switch/+page.svelte
  src/routes/docs/form/form-switch/FormSwitchColumns.svelte
  src/routes/docs/form/form-switch/FormSwitchDefault.svelte
  src/routes/docs/form/form-switch/FormSwitchDescriptionColor.svelte
  src/scss/components/form/form-switch.scss
  src/scss/components/input/switch.scss
Labels: documentation, Switch, FormSwitch

#508 #507 Implement Status Document
  src/routes/docs/components/status/+page.svelte
  src/routes/docs/components/status/StatusDefault.svelte
  src/routes/docs/components/status/StatusDots.svelte
  src/routes/docs/components/status/StatusDotsAnimated.svelte
  src/routes/docs/components/status/StatusWithAnimatedDot.svelte
  src/routes/docs/components/status/StatusWithDot.svelte
  src/routes/docs/index.ts
Labels: documentation

#510 #509 Implement Breadcrumb Document
  src/routes/docs/components/breadcrumb/+page.svelte
  src/routes/docs/components/breadcrumb/BreadcrumbDefault.svelte
  src/routes/docs/components/breadcrumb/BreadcrumbSeperator.svelte
  src/routes/docs/index.ts
Labels: documentation

#512 #507 finish label for radio checkbox switch
  src/components/checkbox/Checkbox.svelte
  src/components/radio/Radio.svelte
  src/components/switch/Switch.svelte
  src/routes/docs/components/switch/SwitchDescription.svelte
  src/scss/components/input/checkbox.scss
  src/scss/components/input/radio.scss
  src/scss/components/input/switch.scss
Labels: Checkbox, Radio, Switch

#516 Implement Toast Component and Document
  .vscode/settings.json
  src/components/index.ts
  src/components/toast/Toast.svelte
  src/components/toast/ToastBody.svelte
  src/components/toast/ToastContainer.svelte
  src/components/toast/ToastHeader.svelte
  src/components/toast/index.ts
  src/routes/docs/components/toast/+page.svelte
  src/routes/docs/components/toast/ToastDefault.svelte
  src/routes/docs/components/toast/ToastToggleShow.svelte
  src/routes/docs/components/toast/ToastWithOutCloseButton.svelte
  src/routes/docs/index.ts
  src/scss/components/index.scss
  src/scss/components/toast.scss
  static/avatars/000m.jpg
  static/avatars/002m.jpg
Labels: documentation, enhancement

#514 #495 - write docs for Tooltip component
  src/routes/docs/components/tooltip/+page.svelte
  src/routes/docs/components/tooltip/TooltipDefault.svelte
  src/routes/docs/components/tooltip/TooltipHTML.svelte
  src/routes/docs/index.ts
  src/scss/components/tooltip.scss
Labels: documentation, tooltip

#520 Feat/499 collapse
  src/components/accordion/Accordion.svelte
  src/components/accordion/AccordionBody.svelte
  src/components/accordion/AccordionHeader.svelte
  src/components/accordion/Accordions.svelte
  src/components/collapse/CollapseToggler.svelte
  src/routes/docs/components/accordion/+page.svelte
  src/routes/docs/components/accordion/AccordionDefault.svelte
  src/routes/docs/components/accordion/AccordionOpen.svelte
  src/routes/docs/components/accordion/AccordionPersistent.svelte
  src/routes/docs/index.ts
  src/scss/components/accordion.scss
Labels: Accordion

#523 Fix preprocess import error
  src/index.ts
  src/preprocessors/index.ts
Labels: bug, preprocessor

#527 fix inline prop of Checkbox component
  src/components/checkbox/Checkbox.svelte
  src/components/form/FormCheckboxGroup.svelte
Labels: Checkbox, FormCheckbox, FormCheckboxGroup, CheckboxGroup

#532 update Checkbox, Radio and Switch components
  src/components/checkbox/Checkbox.svelte
  src/components/form/FormCheckbox.svelte
  src/components/form/FormRadio.svelte
  src/components/form/FormSwitch.svelte
  src/components/radio/Radio.svelte
  src/components/switch/Switch.svelte
Labels: Checkbox, FormCheckbox, Radio, FormRadio, Switch, FormSwitch
