Repository ubeac/svelte, pull requests merged in 2022-11, with the labels that each got.

#553 use El for Avatar component
  src/components/avatar/Avatar.svelte
  src/components/avatar/avatar.types.ts
  src/components/base/El.type.ts
  src/routes/docs/components/avatars/+page.svelte
  src/scss/components/avatar.scss
Labels: Avatar

#552 use El for Alert
  src/components/alert/Alert.svelte
  src/components/alert/alert.types.ts
Labels: Alert

#573 cleanup label component
  src/components/Label/Label.svelte
  src/components/Label/Label.types.ts
  src/routes/docs/components/label/LabelFor.svelte
  src/routes/docs/components/label/LabelRequired.svelte
  src/scss/tabler/components/_label.scss
  src/scss/tabler/components/label.scss
Labels: Label

#580 add 'for' prop for Label
  src/components/Label/Label.svelte
  src/components/Label/Label.types.ts
Labels: Label

#578 cleanup table components
  src/components/Table/Table.svelte
  src/components/Table/Table.types.ts
  src/components/Table/TableBody.svelte
  src/components/Table/TableCell.svelte
  src/components/Table/TableFoot.svelte
  src/components/Table/TableHead.svelte
  src/components/Table/TableRow.svelte
  src/routes/docs/components/tables/+page.svelte
  src/routes/docs/components/tables/TableBorderless.svelte
  src/routes/docs/components/tables/TableColors.svelte
  src/routes/docs/components/tables/TableResponsive.svelte
  src/routes/docs/components/tables/TableSort.svelte
  src/routes/docs/components/tables/TableTruncate.svelte
  src/scss/tabler/components/_table.scss
  src/scss/tabler/components/table.scss
Labels: Table

#586 #585 Spinner component cleanup & documentation
  src/components/Dot/Dot.svelte
  src/components/Spinner/Spinner.props.ts
  src/components/Spinner/Spinner.svelte
  src/components/Spinner/Spinner.types.ts
  src/components/Spinner/index.ts
  src/routes/docs/components/spinners/+page.svelte
  src/routes/docs/components/spinners/SpinnerColors.svelte
  src/routes/docs/components/spinners/SpinnerGrow.svelte
  src/routes/docs/components/spinners/SpinnerSizes.svelte
  src/routes/docs/index.ts
  src/scss/tabler/components/_spinner.scss
  src/scss/tabler/components/spinner.scss
Labels: Spinner
