Repository ubeac/svelte, pull requests merged in 2022-12, with the labels that each got.

#588 #587 Icon cleanup
  src/components/Icon/Icon.svelte
  src/components/Icon/Icon.types.ts
  src/routes/docs/components/icons/+page.svelte
  src/routes/docs/components/icons/IconAnimation.svelte
  src/routes/docs/components/icons/IconColors.svelte
  src/routes/docs/components/icons/IconDefault.svelte
  src/routes/docs/components/icons/IconFilled.svelte
  src/routes/docs/components/icons/IconSizes.svelte
  src/routes/docs/index.ts
  src/scss/tabler/components/_icon.scss
Labels: Icon

#602 Feat input cleanup
  src/components/Base/El.svelte
  src/components/Input/Input.svelte
  src/components/Input/Input.types.ts
  src/routes/+layout.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/components/avatars/AvatarSize.svelte
  src/routes/docs/components/inputs/+page.svelte
  src/routes/docs/components/inputs/InputBorderShapes.svelte
  src/routes/docs/components/inputs/InputDefault.svelte
  src/routes/docs/components/inputs/InputIcons.svelte
  src/routes/docs/components/inputs/InputReadOnly.svelte
  src/routes/docs/components/inputs/InputSizes.svelte
  src/routes/docs/components/inputs/InputStates.svelte
  src/routes/docs/components/inputs/InputValue.svelte
  src/routes/docs/components/inputs/InputWithText.svelte
  src/routes/docs/components/inputs/InputWithTextButton.svelte
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_accordion.scss
  src/scss/tabler/components/_alert.scss
  src/scss/tabler/components/_avatar-list.scss
  src/scss/tabler/components/_avatar.scss
  src/scss/tabler/components/_badge.scss
  src/scss/tabler/components/_breadcrumbs.scss
  src/scss/tabler/components/_button.scss
  src/scss/tabler/components/_card.scss
  src/scss/tabler/components/_dot.scss
  src/scss/tabler/components/_icon.scss
  src/scss/tabler/components/_label.scss
  src/scss/tabler/components/_ribbon.scss
  src/scss/tabler/components/_spinner.scss
  src/scss/tabler/components/_stamp.scss
  src/scss/tabler/components/_status.scss
  src/scss/tabler/components/_table.scss
  src/scss/tabler/components/input/_input.scss
  src/scss/tabler/components/input/input.scss
  src/scss/tabler/variables/breakpoints.scss
  src/scss/tabler/variables/components.scss
  src/scss/tabler/variables/index.scss
Labels: Input

#605 Feat el switch revised
  src/components/Base/El.svelte
  src/components/Base/El.types.ts
  src/components/Switch/Switch.svelte
  src/components/Switch/Switch.types.ts
  src/routes/docs/components/switch/+page.svelte
  src/routes/docs/components/switch/SwitchDescription.svelte
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/input/_switch.scss
Labels: Switch

#583 clean Switch component
  src/components/Base/El.svelte
  src/components/Base/El.types.ts
  src/components/Switch/Switch.svelte
  src/components/Switch/Switch.types.ts
  src/routes/docs/components/switch/+page.svelte
  src/routes/docs/components/switch/SwitchDescription.svelte
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/input/_switch.scss
  src/scss/tabler/components/input/switch.scss
Labels: Switch

#608 #607 adding container property and removing
  src/app.d.ts
  src/components/Base/El.svelte
  src/components/Base/El.types.ts
  src/components/Grid/Container.svelte
  src/components/Grid/Row.svelte
  src/components/Grid/index.ts
  src/components/Page/PageFooter.svelte
  src/components/Page/PageHeader.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/components/app/AppLogin.svelte
  src/routes/docs/components/grids/GridAlign.svelte
  src/routes/docs/components/grids/GridAlignSelf.svelte
  src/routes/docs/components/grids/GridBreakpoint.svelte
  src/routes/docs/components/grids/GridColumnWidth.svelte
  src/routes/docs/components/grids/GridContainer.svelte
  src/routes/docs/components/grids/GridDefault.svelte
  src/routes/docs/components/grids/GridGrow.svelte
  src/routes/docs/components/grids/GridGutter.svelte
  src/routes/docs/components/grids/GridJustify.svelte
  src/routes/docs/components/grids/GridNested.svelte
  src/routes/docs/components/grids/GridOffset.svelte
  src/routes/docs/components/grids/GridOrder.svelte
  src/routes/docs/components/grids/GridRow.svelte
  src/routes/docs/components/grids/GridWrapping.svelte
  src/routes/docs/components/page/PageHeaderSimple.svelte
  src/routes/docs/form/form-autocomplete/FormAutocompleteColumn.svelte
  src/routes/docs/form/form-checkbox/FormCheckboxColumn.svelte
  src/routes/docs/form/form-datepicker/FormDatePickerColumn.svelte
  src/routes/docs/form/form-input/FormInputColumn.svelte
  src/routes/docs/form/form-radio-group/FormRadioGroupColumns.svelte
  src/routes/docs/form/form-radio/FormRadioColumns.svelte
  src/routes/docs/form/form-select/FormSelectColumn.svelte
  src/routes/docs/form/form-switch/FormSwitchColumns.svelte
  src/routes/docs/form/form-textarea/FormTextareaColumn.svelte
  src/scss/tabler/components/container.scss
  src/scss/tabler/components/el.scss
  src/scss/tabler/components/index.scss
  src/scss/tabler/components/row.scss
  static/css/tabler.css
Labels: El

#610 606 footer component
  src/components/Footer/Footer.svelte
  src/components/Footer/Footer.types.ts
  src/components/Footer/index.ts
  src/components/Preview/Preview.svelte
  src/components/index.ts
  src/routes/docs/components/footers/+page.svelte
  src/routes/docs/components/footers/Footer1.svelte
  src/routes/docs/components/footers/Footer2.svelte
  src/routes/docs/components/footers/Footer3.svelte
  src/routes/docs/components/footers/Footer4.svelte
  src/routes/docs/components/footers/Footer5.svelte
  src/routes/docs/components/footers/FooterSticky.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_footer.scss
  src/scss/tabler/components/index.scss
Labels: Preview, Footer

#601 #593 - add El for Toast and cleanup
  src/components/Toast/Toast.svelte
  src/components/Toast/Toast.types.ts
  src/components/Toast/ToastBody.svelte
  src/components/Toast/ToastContainer.svelte
  src/components/Toast/ToastHeader.svelte
  src/components/Toast/index.ts
  src/scss/tabler/components/_card.scss
  src/scss/tabler/components/_toast.scss
  src/scss/tabler/components/toast.scss
Labels: toast

#611 Progress and Divider clean up
  src/components/Base/El.svelte
  src/components/Base/El.types.ts
  src/components/Card/Card.types.ts
  src/components/Divider/Divider.svelte
  src/components/Divider/Divider.types.ts
  src/components/Divider/index.ts
  src/components/Progress/Progress.svelte
  src/components/Progress/Progress.types.ts
  src/components/Progress/index.ts
  src/components/index.ts
  src/routes/docs/components/dividers/+page.svelte
  src/routes/docs/components/dividers/DividerColors.svelte
  src/routes/docs/components/dividers/DividerDefault.svelte
  src/routes/docs/components/dividers/DividerPositions.svelte
  src/routes/docs/components/progress/+page.svelte
  src/routes/docs/components/progress/ProgressColors.svelte
  src/routes/docs/components/progress/ProgressDefault.svelte
  src/routes/docs/components/progress/ProgressIndeterminate.svelte
  src/routes/docs/components/progress/ProgressLabel.svelte
  src/routes/docs/components/progress/ProgressSizes.svelte
  src/routes/docs/components/progress/ProgressStriped.svelte
  src/routes/docs/components/progress/ProgressStripedAnimated.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_divider.scss
  src/scss/tabler/components/_progress.scss
  src/scss/tabler/components/divider.scss
  src/scss/tabler/components/index.scss
  static/css/tabler.css
Labels: Progress, Divider

#618 #617 all packages updated
  package-lock.json
  src/components/Checkbox/Checkbox.svelte
  src/components/Form/FormCheckbox.svelte
  src/components/Form/FormDatePicker.svelte
  src/components/Form/FormSwitch.svelte
  src/components/Radio/Radio.svelte
  src/routes/docs/components/checkbox/CheckboxDescription.svelte
  src/routes/docs/form/form-checkbox/FormCheckboxDescription.svelte
  src/routes/docs/form/form-radio/FormRadioDescription.svelte
  svelte.config.js
Labels: enhancement

#620 #619 Page component refactoring and adding El
  src/components/Card/Card.svelte
  src/components/Page/Page.svelte
  src/components/Page/Page.types.ts
  src/components/Page/PageBody.svelte
  src/components/Page/PageFooter.svelte
  src/components/Page/PageHeader.svelte
  src/components/Page/index.ts
  src/routes/docs/+layout.svelte
  src/routes/docs/components/accordion/+page.svelte
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_app.scss
  src/scss/tabler/components/_page.scss
  src/scss/tabler/components/page.scss
Labels: Page

#600 #592, #594, #599 - add El to Popup,Tooltip, Popover and Menu components
  src/components/Menu/Menu.svelte
  src/components/Menu/Menu.types.ts
  src/components/Popover/Popover.svelte
  src/components/Popover/Popover.types.ts
  src/components/Popover/PopoverBody.svelte
  src/components/Popover/PopoverHeader.svelte
  src/components/Popover/index.ts
  src/components/Popup/Popup.svelte
  src/components/Popup/Popup.types.ts
  src/components/Popup/PopupArrow.svelte
  src/components/Tooltip/Tooltip.svelte
  src/components/Tooltip/Tooltip.types.ts
  src/components/Tooltip/index.ts
  src/routes/docs/components/menu/+page.svelte
  src/routes/docs/components/menu/BottomMenu.svelte
  src/routes/docs/components/menu/MenuDefault.svelte
  src/routes/docs/components/popover/+page.svelte
  src/routes/docs/components/popover/PopoverComponents.svelte
  src/routes/docs/index.ts
  src/scss/tabler/components/_menu.scss
  src/scss/tabler/components/_popover.scss
  src/scss/tabler/components/_tooltip.scss
  src/scss/tabler/components/menu.scss
  src/scss/tabler/components/popover.scss
  src/scss/tabler/components/tooltip.scss
Labels: tooltip, popover, Menu

#634 #628 ToC and heading
  src/components/Doc/Doc.svelte
  src/components/Doc/Doc.types.ts
  src/components/Doc/ToC.svelte
  src/components/Doc/index.ts
  src/components/index.ts
  src/routes/docs/+layout.svelte
  src/routes/docs/components/accordion/+page.svelte
  src/routes/docs/components/alert/+page.svelte
Labels: documentation

#637 Docs - add id for sidebar items
  src/routes/docs/+layout.svelte
  src/routes/docs/index.ts
Labels: documentation

#638 #636 - use `Doc` in documentation pages
  src/components/Doc/Doc.svelte
  src/routes/docs/components/avatars/+page.svelte
  src/routes/docs/components/badges/+page.svelte
  src/routes/docs/components/badges/BadgeNumbers.svelte
  src/routes/docs/components/breadcrumb/+page.svelte
  src/routes/docs/components/buttons/+page.svelte
  src/routes/docs/components/cards/+page.svelte
  src/routes/docs/components/dividers/+page.svelte
  src/routes/docs/components/dots/+page.svelte
  src/routes/docs/components/footers/+page.svelte
  src/routes/docs/components/icons/+page.svelte
  src/routes/docs/components/inputs/+page.svelte
  src/routes/docs/components/label/+page.svelte
  src/routes/docs/components/menu/+page.svelte
  src/routes/docs/components/page/+page.svelte
  src/routes/docs/components/popover/+page.svelte
  src/routes/docs/components/progress/+page.svelte
  src/routes/docs/components/ribbon/+page.svelte
  src/routes/docs/components/spinners/+page.svelte
  src/routes/docs/components/stamp/+page.svelte
  src/routes/docs/components/statuses/+page.svelte
  src/routes/docs/components/switch/+page.svelte
  src/routes/docs/components/tables/+page.svelte
  src/routes/docs/components/toast/+page.svelte
  src/routes/docs/components/tooltip/+page.svelte
Labels: ToC

#640 633 add loading progress to layout
  src/components/Doc/ToC.svelte
  src/components/Page/Page.svelte
  src/routes/+layout.svelte
Labels: documentation

#644 643 add google tag for the documentation website
  skeleton.md
  src/app.html
  static/css/tabler.css
Labels: documentation

#648 625 add el to formfield
  src/components/Base/El.svelte
  src/components/Form/Form.types.ts
  src/components/Form/FormField.svelte
  src/components/Form/FormInput.svelte
  src/components/Form/index.ts
  src/components/Input/Input.svelte
  src/components/Input/Input.types.ts
  src/components/Input/index.ts
  src/routes/+layout.svelte
  src/routes/docs/components/input-groups/+page.svelte
  src/routes/docs/components/input-groups/InputGroupButtonAddons.svelte
  src/routes/docs/components/input-groups/InputGroupCheckboxes.svelte
  src/routes/docs/components/input-groups/InputGroupDefault.svelte
  src/routes/docs/components/input-groups/InputGroupIcons.svelte
  src/routes/docs/components/input-groups/InputGroupMultipleAddons.svelte
  src/routes/docs/components/input-groups/InputGroupSizes.svelte
  src/routes/docs/components/inputs/+page.svelte
  src/routes/docs/components/inputs/InputDefault.svelte
  src/routes/docs/components/inputs/InputSizes.svelte
  src/routes/docs/components/inputs/InputWithText.svelte
  src/routes/docs/form/form-input/+page.svelte
  src/routes/docs/form/form-input/FormInputColumn.svelte
  src/routes/docs/form/form-input/FormInputDefault.svelte
  src/routes/docs/form/form-input/FormInputDisabledLoading.svelte
  src/routes/docs/form/form-input/FormInputHint.svelte
  src/routes/docs/form/form-input/FormInputIcon.svelte
  src/routes/docs/form/form-input/FormInputLabel.svelte
  src/routes/docs/form/form-input/FormInputLayout.svelte
  src/routes/docs/form/form-input/FormInputMessage.svelte
  src/routes/docs/form/form-input/FormInputRequired.svelte
  src/routes/docs/form/form-input/FormInputState.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/form/_form-field.scss
  src/scss/tabler/components/form/form-field.scss
  src/scss/tabler/components/input/_input.scss
Labels: documentation, Input, FormInput

#649 642 review route change progress bar in layout
  src/routes/+layout.svelte
Labels: enhancement

#662 630 cleanup radio component
  src/components/Form/Form.types.ts
  src/components/Form/FormRadio.svelte
  src/components/Form/FormRadioGroup.svelte
  src/components/Form/index.ts
  src/components/Radio/Radio.svelte
  src/components/Radio/Radio.types.ts
  src/components/Radio/RadioGroup.svelte
  src/components/Radio/index.ts
  src/routes/docs/components/radio-group/+page.svelte
  src/routes/docs/components/radio-group/RadioGroupColor.svelte
  src/routes/docs/components/radio-group/RadioGroupComplexObject.svelte
  src/routes/docs/components/radio-group/RadioGroupDefault.svelte
  src/routes/docs/components/radio-group/RadioGroupInline.svelte
  src/routes/docs/components/radio-group/RadioGroupItemsObject.svelte
  src/routes/docs/components/radio-group/RadioGroupName.svelte
  src/routes/docs/components/radio-groups/+page.svelte
  src/routes/docs/components/radio-groups/RadioGroupArrayBinding.svelte
  src/routes/docs/components/radio-groups/RadioGroupBasic.svelte
  src/routes/docs/components/radio-groups/RadioGroupColor.svelte
  src/routes/docs/components/radio-groups/RadioGroupInline.svelte
  src/routes/docs/components/radio-groups/RadioGroupLabel.svelte
  src/routes/docs/components/radio-groups/RadioGroupReverse.svelte
  src/routes/docs/components/radio/+page.svelte
  src/routes/docs/components/radio/RadioColors.svelte
  src/routes/docs/components/radio/RadioDefault.svelte
  src/routes/docs/components/radio/RadioName.svelte
  src/routes/docs/components/radios/+page.svelte
  src/routes/docs/components/radios/RadioColors.svelte
  src/routes/docs/components/radios/RadioDisabled.svelte
  src/routes/docs/components/radios/RadioExample.svelte
  src/routes/docs/components/radios/RadioInline.svelte
  src/routes/docs/components/radios/RadioLabels.svelte
  src/routes/docs/components/radios/RadioReverse.svelte
  src/routes/docs/form/form-radio-group/+page.svelte
  src/routes/docs/form/form-radio-group/FormRadioGroupColor.svelte
  src/routes/docs/form/form-radio-group/FormRadioGroupColumns.svelte
  src/routes/docs/form/form-radio-group/FormRadioGroupInlineLabel.svelte
  src/routes/docs/form/form-radio-group/FormRadioGroupLabel.svelte
  src/routes/docs/form/form-radio-groups/+page.svelte
  src/routes/docs/form/form-radio-groups/FormRadioGroupArrayBinding.svelte
  src/routes/docs/form/form-radio-groups/FormRadioGroupBasic.svelte
  src/routes/docs/form/form-radio-groups/FormRadioGroupColor.svelte
  src/routes/docs/form/form-radio-groups/FormRadioGroupInline.svelte
  src/routes/docs/form/form-radio-groups/FormRadioGroupLabel.svelte
  src/routes/docs/form/form-radio-groups/FormRadioGroupReverse.svelte
  src/routes/docs/form/form-radio/+page.svelte
  src/routes/docs/form/form-radio/FormRadioColors.svelte
  src/routes/docs/form/form-radio/FormRadioColumns.svelte
  src/routes/docs/form/form-radio/FormRadioDescription.svelte
  src/routes/docs/form/form-radio/FormRadioLabel.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/input/_radio.scss
  src/scss/tabler/components/input/index.scss
  src/scss/tabler/components/input/radio-group.scss
  src/scss/tabler/components/input/radio.scss
  static/css/tabler.css
  static/images/mastercard.svg
  static/images/paypal.svg
  static/images/visa.svg
Labels: Radio, RadioGroup, FormRadioGroup, FormRadio

#660 #639 - update sidebar to make it's behaviour similar to accordions
  src/routes/docs/+layout.svelte
Labels: documentation

#663 update sveltekit to version 1.0 and update other packages
  package-lock.json
  package.json
  static/css/tabler.css
  yarn.lock
Labels: dependencies

#666 Button Group clean up
  src/app.d.ts
  src/components/Button/ButtonGroup.svelte
  src/components/Button/index.ts
  src/components/ButtonGroup/ButtonGroup.svelte
  src/components/ButtonGroup/ButtonGroup.types.ts
  src/components/ButtonGroup/index.ts
  src/components/index.ts
  src/routes/docs/components/button-group/+page.svelte
  src/routes/docs/components/button-group/ButtonGroupDefault.svelte
  src/routes/docs/components/button-group/ButtonGroupIcons.svelte
  src/routes/docs/components/button-group/ButtonGroupSizes.svelte
  src/routes/docs/components/button-group/ButtonGroupVertical.svelte
  src/routes/docs/components/buttons/+page.svelte
  src/routes/docs/components/buttons/ButtonGroupLotsOfItems.svelte
  src/routes/docs/components/buttons/ButtonSocial.svelte
  src/routes/docs/components/buttons/ButtonSocialIcon.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_button-group.scss
  src/scss/tabler/components/button-group.scss
Labels: Button Group

#657 #656 Add Offcanvas
  src/components/Accordion/AccordionBody.svelte
  src/components/Accordion/AccordionHeader.svelte
  src/components/Accordion/AccordionTitle.svelte
  src/components/Accordion/Accordions.svelte
  src/components/Button/Button.svelte
  src/components/Offcanvas/Offcanvas.svelte
  src/components/Offcanvas/Offcanvas.types.ts
  src/components/Offcanvas/OffcanvasBody.svelte
  src/components/Offcanvas/OffcanvasHeader.svelte
  src/components/Offcanvas/index.ts
  src/components/index.ts
  src/routes/docs/components/offcanvases/+page.svelte
  src/routes/docs/components/offcanvases/OffcanvasAutoClose.svelte
  src/routes/docs/components/offcanvases/OffcanvasBackdrop.svelte
  src/routes/docs/components/offcanvases/OffcanvasDefault.svelte
  src/routes/docs/components/offcanvases/OffcanvasNoScroll.svelte
  src/routes/docs/components/offcanvases/OffcanvasPlacements.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_offcanvas.scss
  src/scss/tabler/components/index.scss
Labels: Offcanvas

#688 #687 adding inputmask to support mask in Input & FormInput components
  package-lock.json
  package.json
  src/components/Form/FormInput.svelte
  src/components/Input/Input.svelte
  src/components/Input/Input.types.ts
  src/routes/docs/components/inputs/+page.svelte
  src/routes/docs/components/inputs/InputMasks.svelte
  src/routes/docs/form/form-input/+page.svelte
  src/routes/docs/form/form-input/FormInputMask.svelte
  yarn.lock
Labels: Input, FormInput

#682 676 check and clean up select component
  src/components/Form/Form.types.ts
  src/components/Form/FormSelect.svelte
  src/components/Select/Select.svelte
  src/components/Select/Select.types.ts
  src/components/Select/index.ts
  src/routes/docs/components/select/+page.svelte
  src/routes/docs/components/select/SelectItems.svelte
  src/routes/docs/components/selects/+page.svelte
  src/routes/docs/components/selects/SelectDefault.svelte
  src/routes/docs/components/selects/SelectDisabled.svelte
  src/routes/docs/components/selects/SelectItems.svelte
  src/routes/docs/components/selects/SelectMultiple.svelte
  src/routes/docs/components/selects/SelectMultipleSize.svelte
  src/routes/docs/components/selects/SelectPlaceholder.svelte
  src/routes/docs/components/selects/SelectSizes.svelte
  src/routes/docs/form/form-select/+page.svelte
  src/routes/docs/form/form-select/FormSelectColumn.svelte
  src/routes/docs/form/form-select/FormSelectDefault.svelte
  src/routes/docs/form/form-select/FormSelectHint.svelte
  src/routes/docs/form/form-select/FormSelectIcon.svelte
  src/routes/docs/form/form-select/FormSelectLabel.svelte
  src/routes/docs/form/form-select/FormSelectLoading.svelte
  src/routes/docs/form/form-select/FormSelectMessage.svelte
  src/routes/docs/form/form-select/FormSelectRequired.svelte
  src/routes/docs/form/form-select/FormSelectState.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/input/_select.scss
  src/scss/tabler/components/input/select.scss
Labels: Select, FormSelect

#711 #702 #703 documentation for Color & Typography
  src/app.d.ts
  src/components/Base/El.types.ts
  src/components/Divider/Divider.svelte
  src/routes/+layout.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/components/alert/+page.svelte
  src/routes/docs/components/alert/AlertColor.svelte
  src/routes/docs/components/alert/AlertDismissible.svelte
  src/routes/docs/components/alert/AlertIcon.svelte
  src/routes/docs/components/alert/AlertLink.svelte
  src/routes/docs/components/alert/AlertShow.svelte
  src/routes/docs/core/+page.svelte
  src/routes/docs/core/BackgroundColor.svelte
  src/routes/docs/core/BackgroundGradient.svelte
  src/routes/docs/core/BackgroundOpacity.svelte
  src/routes/docs/core/BorderAdditive.svelte
  src/routes/docs/core/BorderColor.svelte
  src/routes/docs/core/BorderRadius.svelte
  src/routes/docs/core/BorderRadiusSize.svelte
  src/routes/docs/core/BorderSubtractive.svelte
  src/routes/docs/core/BorderWidth.svelte
  src/routes/docs/core/contents/colors/+page.svelte
  src/routes/docs/core/contents/colors/ColorsBrand.svelte
  src/routes/docs/core/contents/colors/ColorsNamed.svelte
  src/routes/docs/core/contents/colors/ColorsTheme.svelte
  src/routes/docs/core/contents/typography/+page.svelte
  src/routes/docs/core/contents/typography/TypographyDivider.svelte
  src/routes/docs/core/contents/typography/TypographyHeadings.svelte
  src/routes/docs/core/contents/typography/TypographyParagraph.svelte
  src/routes/docs/core/contents/typography/TypographySemantic.svelte
  src/routes/docs/core/contents/typography/TypographyTextTransform.svelte
  src/routes/docs/index.ts
  src/scss/tabler/components/el.scss
Labels: documentation, El

#713 #712 Icon documentation moved to Core features
  src/routes/docs/components/icons/+page.svelte
  src/routes/docs/core/contents/icons/+page.svelte
  src/routes/docs/core/contents/icons/IconAnimation.svelte
  src/routes/docs/core/contents/icons/IconColors.svelte
  src/routes/docs/core/contents/icons/IconDefault.svelte
  src/routes/docs/core/contents/icons/IconFilled.svelte
  src/routes/docs/core/contents/icons/IconSizes.svelte
  src/routes/docs/icons/+page.svelte
  src/routes/docs/icons/IconColor.svelte
  src/routes/docs/icons/IconDefault.svelte
  src/routes/docs/icons/IconSize.svelte
  src/routes/docs/index.ts
Labels: documentation, Icon

#708 checked and cleaned up Fieldset
  skeleton.md
  src/components/Fieldset/Fieldset.svelte
  src/components/Fieldset/Fieldset.types.ts
  src/components/Fieldset/index.ts
  src/components/Form/Form.types.ts
  src/components/Form/FormFieldset.svelte
  src/components/Form/FormFileUploader.svelte
  src/components/Form/FormGroup.svelte
  src/components/Form/index.ts
  src/components/index.ts
  src/routes/docs/components/fieldsets/+page.svelte
  src/routes/docs/components/fieldsets/FieldsetDefault.svelte
  src/routes/docs/form/form-fieldsets/+page.svelte
  src/routes/docs/form/form-fieldsets/FormFieldsetDefault.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_fieldset.scss
  src/scss/tabler/components/form/form-group.scss
  src/scss/tabler/components/form/index.scss
  src/scss/tabler/components/index.scss
Labels: FieldSet

#727 704 add el examples in documentation section
  src/app.d.ts
  src/components/Base/El.svelte
  src/components/Base/El.types.ts
  src/routes/docs/core/contents/columns/+page.svelte
  src/routes/docs/core/contents/columns/ColumnsAlignItems.svelte
  src/routes/docs/core/contents/columns/ColumnsAlignSelf.svelte
  src/routes/docs/core/contents/columns/ColumnsBreaks.svelte
  src/routes/docs/core/contents/columns/ColumnsHorizontalAlignment.svelte
  src/routes/docs/core/contents/columns/ColumnsMargins.svelte
  src/routes/docs/core/contents/columns/ColumnsOffsets.svelte
  src/routes/docs/core/contents/columns/ColumnsOrders.svelte
  src/routes/docs/core/contents/columns/ColumnsStandalone.svelte
  src/routes/docs/core/contents/columns/ColumnsWrapping.svelte
  src/routes/docs/core/contents/grid/+page.svelte
  src/routes/docs/core/contents/grid/Grid1.svelte
  src/routes/docs/core/contents/grid/Grid2.svelte
  src/routes/docs/core/contents/grid/Grid3.svelte
  src/routes/docs/core/contents/grid/Grid4.svelte
  src/routes/docs/core/contents/grid/Grid5.svelte
  src/routes/docs/core/contents/grid/Grid6.svelte
  src/routes/docs/core/contents/grid/Grid7.svelte
  src/routes/docs/core/contents/grid/Grid8.svelte
  src/routes/docs/core/contents/grid/Grid9.svelte
  src/routes/docs/core/contents/spacing/+page.svelte
  src/routes/docs/core/contents/spacing/SpacingMargin.svelte
  src/routes/docs/core/contents/spacing/SpacingPadding.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/el.scss
Labels: documentation, El

#724 #717 - support vertical direction to divider component
  src/components/Divider/Divider.svelte
  src/components/Divider/Divider.types.ts
  src/routes/docs/components/dividers/+page.svelte
  src/routes/docs/components/dividers/DividerDirection.svelte
  src/scss/tabler/components/_divider.scss
Labels: Divider

#729 #716 - add required prop to FormCheckbox
  src/components/Form/FormCheckbox.svelte
  src/components/Form/FormInput.svelte
  src/components/Form/FormRadioGroup.svelte
  src/components/Form/FormTextarea.svelte
  src/routes/docs/form/form-checkbox-groups/FormCheckboxGroupLayout.svelte
  src/routes/docs/form/form-checkboxes/+page.svelte
  src/routes/docs/form/form-checkboxes/FormCheckboxColumn.svelte
  src/routes/docs/form/form-checkboxes/FormCheckboxDefault.svelte
  src/routes/docs/form/form-checkboxes/FormCheckboxRequired.svelte
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/form/_form-field.scss
Labels: FormCheckbox

#742 #741 El component border property documentation
  src/routes/docs/core/contents/borders/+page.svelte
  src/routes/docs/core/contents/borders/BorderAdditive.svelte
  src/routes/docs/core/contents/borders/BorderColor.svelte
  src/routes/docs/core/contents/borders/BorderRadius.svelte
  src/routes/docs/core/contents/borders/BorderRadiusSize.svelte
  src/routes/docs/core/contents/borders/BorderSubtractive.svelte
  src/routes/docs/core/contents/borders/BorderWidth.svelte
  src/routes/docs/core/contents/spacing/+page.svelte
  src/routes/docs/core/contents/spacing/SpacingMargin.svelte
  src/routes/docs/core/contents/spacing/SpacingPadding.svelte
  src/routes/docs/index.ts
Labels: documentation, El

#753 #731 removing unused old Grid System
  skeleton.md
  src/components/Grid/Col.svelte
  src/components/Grid/Grid.types.ts
  src/components/Grid/helper.ts
  src/components/Grid/index.ts
  src/components/Preview/Preview.svelte
  src/components/index.ts
  src/routes/+page.svelte
  src/routes/docs/common/example1.svelte
  src/routes/docs/common/if/+page.svelte
  src/routes/docs/common/if/IfComponents.svelte
  src/routes/docs/common/if/IfMultiline.svelte
  src/routes/docs/common/if/IfNative.svelte
  src/routes/docs/components/autocomplete/AutocompleteDefault.svelte
  src/routes/docs/components/autocomplete/AutocompleteDisabledLoading.svelte
  src/routes/docs/components/autocomplete/AutocompleteEvent.svelte
  src/routes/docs/components/autocomplete/AutocompleteMultiple.svelte
  src/routes/docs/components/autocomplete/AutocompleteObject.svelte
  src/routes/docs/components/autocomplete/AutocompleteObjectItems.svelte
  src/routes/docs/components/grids/+page.svelte
  src/routes/docs/components/grids/GridAlign.svelte
  src/routes/docs/components/grids/GridAlignSelf.svelte
  src/routes/docs/components/grids/GridBreakpoint.svelte
  src/routes/docs/components/grids/GridColumnWidth.svelte
  src/routes/docs/components/grids/GridContainer.svelte
  src/routes/docs/components/grids/GridDefault.svelte
  src/routes/docs/components/grids/GridGrow.svelte
  src/routes/docs/components/grids/GridGutter.svelte
  src/routes/docs/components/grids/GridJustify.svelte
  src/routes/docs/components/grids/GridNested.svelte
  src/routes/docs/components/grids/GridOffset.svelte
  src/routes/docs/components/grids/GridOrder.svelte
  src/routes/docs/components/grids/GridRow.svelte
  src/routes/docs/components/grids/GridWrapping.svelte
  src/routes/docs/components/page/+page.svelte
  src/routes/docs/components/page/PageHeaderAction.svelte
  src/routes/docs/components/page/PageHeaderSimple.svelte
  src/routes/docs/components/textareas/TextareaRowCol.svelte
  src/routes/docs/form/form-autocomplete/FormAutocompleteColumn.svelte
  src/routes/docs/form/form-autocomplete/FormAutocompleteLabel.svelte
  src/routes/docs/form/form-checkboxes/FormCheckboxColumn.svelte
  src/routes/docs/form/form-checkboxes/FormCheckboxRequired.svelte
  src/routes/docs/form/form-datepicker/FormDatePickerColumn.svelte
  src/routes/docs/form/form-datepicker/FormDatePickerLabel.svelte
  src/routes/docs/form/form-switch/FormSwitchColumns.svelte
  src/routes/docs/index.ts
  src/scss/tabler/components/col.scss
  src/scss/tabler/components/grid-item.scss
  src/scss/tabler/components/grid-item.variables.scss
  src/scss/tabler/components/grid.scss
  src/scss/tabler/components/grid.variables.scss
  src/scss/tabler/components/index.scss
Labels: documentation, enhancement, Page

#757 Removing Collapse component and reference to nanoid package
  src/components/App/AppSidebar.svelte
  src/components/Collapse/Collapse.svelte
  src/components/Collapse/CollapseToggler.svelte
  src/components/Collapse/index.ts
  src/components/Form/FormAutocomplete.svelte
  src/components/Form/FormDatePicker.svelte
  src/components/Form/FormFileUploader.svelte
  src/components/Form/FormSwitch.svelte
  src/components/index.ts
  src/routes/docs/index.ts
  src/scss/tabler/components/collapse.scss
  src/scss/tabler/components/index.scss
  static/css/tabler.css
  yarn.lock
Labels: enhancement, collapse

#761 758 refactor and review packagejson file
  package.json
Labels: enhancement

#760 Feat/746 remove $app/environment
  src/components/App/App.svelte
  src/components/Dialog/Dialog.svelte
  src/components/Doc/ToC.svelte
  src/components/Page/Page.svelte
  src/routes/+layout.svelte
Labels: enhancement

#768 #766 resolved checkbox issue for bind:checked
  src/components/Checkbox/Checkbox.svelte
  src/components/Checkbox/CheckboxGroup.svelte
  src/components/Form/FormCheckbox.svelte
  src/routes/docs/form/form-checkbox-groups/FormCheckboxGroupLayout.svelte
Labels: bug, documentation, Checkbox, FormCheckbox, FormCheckboxGroup, CheckboxGroup

#773 #767 #772 removing COLORS and global u-preview style
  src/components/Badge/Badge.svelte
  src/components/Button/Button.svelte
  src/components/Button/Button.types.ts
  src/components/Spinner/Spinner.types.ts
  src/routes/docs/+layout.svelte
  src/routes/docs/components/alert/AlertImportant.svelte
  src/routes/docs/components/avatars/+page.svelte
  src/routes/docs/components/avatars/AvatarColors.svelte
  src/routes/docs/components/badges/+page.svelte
  src/routes/docs/components/badges/BadgeColors.svelte
  src/routes/docs/components/badges/BadgeDots.svelte
  src/routes/docs/components/badges/BadgeGhosts.svelte
  src/routes/docs/components/badges/BadgeOutlines.svelte
  src/routes/docs/components/buttons/+page.svelte
  src/routes/docs/components/buttons/ButtonColors.svelte
  src/routes/docs/components/buttons/ButtonDisabled.svelte
  src/routes/docs/components/buttons/ButtonGhost.svelte
  src/routes/docs/components/buttons/ButtonOutline.svelte
  src/routes/docs/components/buttons/ButtonRound.svelte
  src/routes/docs/components/buttons/ButtonTag.svelte
  src/routes/docs/components/buttons/ButtonTile.svelte
  src/routes/docs/components/dialog/+page.svelte
  src/routes/docs/components/dots/+page.svelte
  src/routes/docs/components/dots/DotAnimations.svelte
  src/routes/docs/components/dots/DotColors.svelte
  src/routes/docs/components/spinners/SpinnerColors.svelte
  src/routes/docs/components/spinners/SpinnerGrow.svelte
  src/routes/docs/components/statuses/+page.svelte
  src/routes/docs/components/statuses/StatusDefault.svelte
  src/routes/docs/components/statuses/StatusDots.svelte
  src/routes/docs/components/statuses/StatusDotsAnimated.svelte
  src/routes/docs/components/statuses/StatusLite.svelte
  src/routes/docs/components/statuses/StatusLiteAnimated.svelte
  src/routes/docs/components/switch/SwitchColor.svelte
  src/routes/docs/components/switch/SwitchDefault.svelte
  src/routes/docs/components/tables/TableColors.svelte
  src/routes/docs/core/contents/icons/IconAnimation.svelte
  src/routes/docs/core/contents/icons/IconColors.svelte
Labels: documentation, El

#775 #774 documentation tyle enhancement in El>border
  src/routes/docs/core/BorderColor.svelte
  src/routes/docs/core/contents/borders/+page.svelte
Labels: El

#777 #776 Adding background documentation section
  src/routes/docs/core/+page.svelte
  src/routes/docs/core/BackgroundColor.svelte
  src/routes/docs/core/BorderAdditive.svelte
  src/routes/docs/core/BorderColor.svelte
  src/routes/docs/core/BorderRadius.svelte
  src/routes/docs/core/BorderRadiusSize.svelte
  src/routes/docs/core/BorderSubtractive.svelte
  src/routes/docs/core/BorderWidth.svelte
  src/routes/docs/core/contents/backgrounds/+page.svelte
  src/routes/docs/core/contents/backgrounds/BackgroundColor.svelte
  src/routes/docs/core/contents/backgrounds/BackgroundGradient.svelte
  src/routes/docs/core/contents/backgrounds/BackgroundOpacity.svelte
  src/routes/docs/core/contents/colors/+page.svelte
  src/routes/docs/index.ts
Labels: documentation, El

#770 765 offcanvas enhancements
  src/components/El/El.svelte
  src/components/El/El.types.ts
  src/components/Offcanvas/Offcanvas.svelte
Labels: enhancement, Offcanvas

#788 771 use offcanvas in mobile view instead of navbar
  src/routes/+layout.svelte
  src/routes/docs/+layout.svelte
Labels: documentation, enhancement

#789 #781 - cleanup tooltip component
  src/components/Popup/index.ts
  src/components/Tooltip/Tooltip.svelte
  src/components/Tooltip/Tooltip.types.ts
  src/routes/docs/components/tooltip/+page.svelte
  src/routes/docs/components/tooltip/TooltipDefault.svelte
  src/routes/docs/components/tooltip/TooltipHTML.svelte
  src/routes/docs/components/tooltip/TooltipPlacement.svelte
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_tooltip.scss
Labels: tooltip

#794 Feat/784 cleanup fileuploader
  src/components/FileUploader/FileUploader.svelte
  src/components/FileUploader/FileUploader.types.ts
  src/components/FileUploader/index.ts
  src/components/Form/Form.types.ts
  src/components/Form/FormFileUploader.svelte
  src/routes/docs/components/file-uploaders/+page.svelte
  src/routes/docs/components/file-uploaders/FileUploaderAccept.svelte
  src/routes/docs/components/file-uploaders/FileUploaderDefault.svelte
  src/routes/docs/components/file-uploaders/FileUploaderDisabled.svelte
  src/routes/docs/components/file-uploaders/FileUploaderMultiple.svelte
  src/routes/docs/components/file-uploaders/FileUploaderReadOnly.svelte
  src/routes/docs/components/file-uploaders/FileUploaderSizes.svelte
  src/routes/docs/components/file-uploaders/FileUploaderStates.svelte
  src/routes/docs/form/form-file-uploaders/+page.svelte
  src/routes/docs/form/form-file-uploaders/FormFileUploaderDefault.svelte
  src/routes/docs/form/form-file-uploaders/FormFileUploaderHint.svelte
  src/routes/docs/form/form-file-uploaders/FormFileUploaderLayout.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/form/_form-field.scss
  src/scss/tabler/components/input/_file-uploader.scss
  src/scss/tabler/components/input/file-uploader.scss
Labels: FileUploader, FormFileUploader

#764 working on Switch component
  src/components/Form/Form.types.ts
  src/components/Form/FormSwitch.svelte
  src/components/Switch/Switch.svelte
  src/components/Switch/Switch.types.ts
  src/components/Switch/index.ts
  src/routes/+page.svelte
  src/routes/docs/components/switch/+page.svelte
  src/routes/docs/components/switch/SwitchColor.svelte
  src/routes/docs/components/switch/SwitchDefault.svelte
  src/routes/docs/components/switches/+page.svelte
  src/routes/docs/components/switches/SwitchColor.svelte
  src/routes/docs/components/switches/SwitchDefault.svelte
  src/routes/docs/components/switches/SwitchDescription.svelte
  src/routes/docs/components/switches/SwitchDisabled.svelte
  src/routes/docs/components/switches/SwitchInline.svelte
  src/routes/docs/components/switches/SwitchReverse.svelte
  src/routes/docs/form/form-switch/+page.svelte
  src/routes/docs/form/form-switch/FormSwitchColumns.svelte
  src/routes/docs/form/form-switch/FormSwitchDefault.svelte
  src/routes/docs/form/form-switches/+page.svelte
  src/routes/docs/form/form-switches/FormSwitchColumn.svelte
  src/routes/docs/form/form-switches/FormSwitchDefault.svelte
  src/routes/docs/form/form-switches/FormSwitchDescription.svelte
  src/routes/docs/form/form-switches/FormSwitchRequired.svelte
  src/routes/docs/form/form-switches/FormSwitchReverse.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/form/_form-field.scss
  src/scss/tabler/components/form/form-switch.scss
  src/scss/tabler/components/form/index.scss
  src/scss/tabler/components/input/_switch.scss
Labels: Switch, FormSwitch

#796 Cleanup Tab componets
  src/components/Icon/Icon.svelte
  src/components/Preview/Preview.svelte
  src/components/Tabs/Tab.types.ts
  src/components/Tabs/TabContent.svelte
  src/components/Tabs/TabItem.svelte
  src/components/Tabs/TabList.svelte
  src/components/Tabs/TabPanel.svelte
  src/components/Tabs/Tabs.svelte
  src/components/Tabs/TabsItem.svelte
  src/components/Tabs/TabsItems.svelte
  src/components/Tabs/TabsPanel.svelte
  src/components/Tabs/TabsPanels.svelte
  src/components/Tabs/index.ts
  src/components/index.ts
  src/routes/docs/components/tabs/+page.svelte
  src/routes/docs/components/tabs/TabsDefault.svelte
  src/routes/docs/components/tabs/TabsEnd.svelte
  src/routes/docs/components/tabs/TabsGrow.svelte
  src/routes/docs/components/tabs/TabsIcons.svelte
  src/routes/docs/components/tabs/TabsOnlyIcons.svelte
  src/routes/docs/components/tabs/TabsVertical.svelte
  src/routes/docs/index.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_tabs.scss
  src/scss/tabler/components/tabs.scss
Labels: Tabs, TabItem, TabList, TabContent, TabPane

#801 implemented dynamic sitemap.xml and added robots.txt and set page tit…
  src/routes/+layout.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/components/button-group/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
Labels: documentation

#791 #780 - cleanup Menu component
  src/components/Menu/Menu.svelte
  src/components/Menu/Menu.types.ts
  src/scss/tabler/_variables.scss
  src/scss/tabler/components/_menu.scss
Labels: Menu
